N.Bhatia: WiDS Climate Change Datathon Feb 2022

In [26]:
# Impoort Libraries

import pandas as pd
import numpy as np

# Load test and train data from githib Repository
train_url='https://raw.githubusercontent.com/OmdenaAI/silicon-valley-chapter-data-science-for-climate-change/main/src/data/train.csv?token=GHSAT0AAAAAABRYXD4Q7IDONXPOIXSOK2SWYQUAQJA'
train_df = pd.read_csv(train_url)
test_url='https://raw.githubusercontent.com/OmdenaAI/silicon-valley-chapter-data-science-for-climate-change/main/src/data/test.csv?token=GHSAT0AAAAAABRYXD4QKMPD732SSLFBJ77OYQUAP7Q'
test_df=pd.read_csv(test_url)
test_df.head(10)

   Year_Factor State_Factor  ... days_with_fog     id
0            7      State_1  ...           NaN  75757
1            7      State_1  ...           NaN  75758
2            7      State_1  ...           NaN  75759
3            7      State_1  ...           NaN  75760
4            7      State_1  ...         126.0  75761
5            7      State_1  ...           NaN  75762
6            7      State_1  ...           NaN  75763
7            7      State_1  ...           NaN  75764
8            7      State_1  ...           NaN  75765
9            7      State_1  ...           NaN  75766

[10 rows x 63 columns]

In [27]:
train_df.shape

(75757, 64)

In [28]:
# Print train column names
train_df.columns

Index(['Year_Factor', 'State_Factor', 'building_class', 'facility_type',
       'floor_area', 'year_built', 'energy_star_rating', 'ELEVATION',
       'january_min_temp', 'january_avg_temp', 'january_max_temp',
       'february_min_temp', 'february_avg_temp', 'february_max_temp',
       'march_min_temp', 'march_avg_temp', 'march_max_temp', 'april_min_temp',
       'april_avg_temp', 'april_max_temp', 'may_min_temp', 'may_avg_temp',
       'may_max_temp', 'june_min_temp', 'june_avg_temp', 'june_max_temp',
       'july_min_temp', 'july_avg_temp', 'july_max_temp', 'august_min_temp',
       'august_avg_temp', 'august_max_temp', 'september_min_temp',
       'september_avg_temp', 'september_max_temp', 'october_min_temp',
       'october_avg_temp', 'october_max_temp', 'november_min_temp',
       'november_avg_temp', 'november_max_temp', 'december_min_temp',
       'december_avg_temp', 'december_max_temp', 'cooling_degree_days',
       'heating_degree_days', 'precipitation_inches', 'snowfall_inches',
       'snowdepth_inches', 'avg_temp', 'days_below_30F', 'days_below_20F',
       'days_below_10F', 'days_below_0F', 'days_above_80F', 'days_above_90F',
       'days_above_100F', 'days_above_110F', 'direction_max_wind_speed',
       'direction_peak_wind_speed', 'max_wind_speed', 'days_with_fog',
       'site_eui', 'id'],
      dtype='object')

In [29]:
# Remove duplicate rows from train dataset
# First use id as index. Since "id" column has a unique value, using drop_duplicates only will not work as each row has a unique id that makes every row unique. Marking "id" as index, reveals duplicate rows
train_df.set_index(['id'], inplace=True)
train_df.drop_duplicates(inplace=True)
train_df.shape

(75718, 63)

In [30]:
train_df

       Year_Factor State_Factor  ... days_with_fog    site_eui
id                               ...
0                1      State_1  ...           NaN  248.682615
1                1      State_1  ...          12.0   26.500150
2                1      State_1  ...          12.0   24.693619
3                1      State_1  ...          12.0   48.406926
4                1      State_1  ...           NaN    3.899395
...            ...          ...  ...           ...         ...
75752            6     State_11  ...           NaN  132.918411
75753            6     State_11  ...           NaN   39.483672
75754            6     State_11  ...           NaN   48.404398
75755            6     State_11  ...           NaN  592.022750
75756            6     State_11  ...           NaN   29.154684

[75718 rows x 63 columns]

Implementing Derek Woodhouse's approach

In [31]:
# Grouping by Elevation and Avg temp reveals 470 rows which is the same as grouping by taking more parameters as 'cooling_degree_days','heating_degree_days', 'precipitation_inches', 'snowfall_inches','snowdepth_inches', 
# 'avg_temp', 'days_below_30F', 'days_below_20F','days_below_10F', 'days_below_0F', 'days_above_80F', 'days_above_90F','days_above_100F', 'days_above_110F'
train_df.groupby(['ELEVATION','avg_temp']).size()

ELEVATION  avg_temp
-6.4       65.269863     2
 1.8       56.972603    15
           61.083562     3
           62.067123     7
           62.620548    15
                        ..
 1478.3    63.719828     1
 1607.5    63.966942     1
 1924.5    58.750000     5
           62.278082     1
           64.720548     1
Length: 470, dtype: int64

In [32]:
# Adding location id based on the above grouping
train_df['location_id']=train_df.groupby(['ELEVATION','avg_temp']).ngroup()
train_df

       Year_Factor State_Factor  ...    site_eui location_id
id                               ...
0                1      State_1  ...  248.682615           7
1                1      State_1  ...   26.500150           1
2                1      State_1  ...   24.693619           1
3                1      State_1  ...   48.406926           1
4                1      State_1  ...    3.899395           7
...            ...          ...  ...         ...         ...
75752            6     State_11  ...  132.918411         163
75753            6     State_11  ...   39.483672         163
75754            6     State_11  ...   48.404398         161
75755            6     State_11  ...  592.022750         161
75756            6     State_11  ...   29.154684         162

[75718 rows x 64 columns]

In [33]:
# Using bare minimum columns to be used as first iteration for passing to ML Models

train_df_model1 = train_df[[ 'year_built','location_id', 'facility_type','floor_area','energy_star_rating','cooling_degree_days','heating_degree_days','site_eui']]
train_df_model1

       year_built  location_id  ... heating_degree_days    site_eui
id                              ...
0          1942.0            7  ...                2960  248.682615
1          1955.0            1  ...                2960   26.500150
2          1951.0            1  ...                2960   24.693619
3          1980.0            1  ...                2960   48.406926
4          1985.0            7  ...                2960    3.899395
...           ...          ...  ...                 ...         ...
75752      1995.0          163  ...                3772  132.918411
75753      1910.0          163  ...                3772   39.483672
75754      1917.0          161  ...                6218   48.404398
75755      2012.0          161  ...                6218  592.022750
75756      1974.0          162  ...                5853   29.154684

[75718 rows x 8 columns]

In [34]:
train_df_model1.isnull().sum()

year_built              1817
location_id                0
facility_type              0
floor_area                 0
energy_star_rating     26682
cooling_degree_days        0
heating_degree_days        0
site_eui                   0
dtype: int64

**One Hot Encoding: **

Covert Categorical data to numercal data. facility_type is categorical data.Using One Hot Encoding to convert it to numerical

In [35]:
one_hot_enc_data = pd.get_dummies(train_df_model1, columns = ['facility_type'])
one_hot_enc_data.shape

(75718, 67)

**MODELLING**: Preparing Dataset

In [36]:
y=one_hot_enc_data.pop("site_eui")
X=one_hot_enc_data

print(X.shape, y.shape)

(75718, 66) (75718,)

In [37]:
# Split data for train and validate data

# Import libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42) #
print(X_train.shape, X_val.shape, y_train.shape, y_val.shape)

(60574, 66) (15144, 66) (60574,) (15144,)

In [38]:
# Linear Regression


# model=LinearRegression()
# model.fit(X_train, y_train)
# y_pred=model.predict(X_val)
# mean_squared_error(y_val, y_pred)

**XGBOOST**

In [39]:
# Import Libraries
import xgboost as xgb

xg = xgb.XGBRegressor(objective = 'reg:squarederror', n_estimators=800, max_depth=6, seed=42)
xg.fit(X_train, y_train)

print('xgboost Regressor Train Score :', xg.score(X_train, y_train))
print('xgboost Regressor Validation Score :', xg.score(X_val, y_val))

xgboost Regressor Train Score : 0.7781678060834589
xgboost Regressor Validation Score : 0.5581109961632839

In [40]:
y_pred_xg = xg.predict(X_val)
RMSE_xg = np.sqrt(mean_squared_error(y_val, y_pred_xg)) 
print('RMSE value :', RMSE_xg)

RMSE value : 38.046209357323114

**TEST DATA PREPROCESSING**

In [41]:
# Remove duplicate rows from test dataset
# First use id as index. Since "id" column has a unique value, using drop_duplicates only will not work as each row has a unique id that makes every row unique. Marking "id" as index, reveals duplicate rows
test_df.set_index(['id'], inplace=True)
# test_df.drop_duplicates(inplace=True)
test_df.shape

(9705, 62)

In [42]:
test_df.groupby(['ELEVATION','avg_temp']).size()

ELEVATION  avg_temp
1.8        59.894521      10
2.4        59.894521     128
3.0        52.646006      91
           55.168956       4
           58.013699      85
6.1        46.073204       2
           53.420548     190
15.2       59.428969     905
18.3       53.420548     301
18.6       59.894521     225
21.3       52.646006      52
26.5       46.073204       2
           53.420548     703
30.5       59.428969     144
32.0       52.646006      15
33.5       46.073204       1
           53.420548     420
35.4       59.894521     107
43.9       59.894521     278
44.2       59.428969     179
45.7       59.894521     165
56.1       59.428969     287
57.3       46.073204       2
           53.420548     129
58.5       52.646006     100
59.1       59.894521     114
109.7      52.646006      30
118.9      52.646006     186
126.5      52.646006      65
130.8      52.646006     475
134.1      53.420548      86
135.0      52.646006     183
152.4      52.646006      41
163.1      46.073204       1
           53.420548       3
178.0      50.584022      53
182.3      50.584022      22
182.9      50.584022     354
186.5      50.584022     187
189.0      50.584022      72
189.3      50.584022      94
197.5      50.584022     136
201.8      50.584022     154
214.0      50.584022      29
216.4      50.584022      65
229.8      50.584022     196
231.3      50.584022     396
241.4      50.584022     493
260.0      50.584022     202
266.1      50.584022     115
812.0      46.073204      24
           53.420548    1404
dtype: int64

In [43]:
# Adding location id based on the above grouping
test_df['location_id']=test_df.groupby(['ELEVATION','avg_temp']).ngroup()
test_df

       Year_Factor State_Factor  ... days_with_fog location_id
id                               ...
75757            7      State_1  ...           NaN           1
75758            7      State_1  ...           NaN          20
75759            7      State_1  ...           NaN          25
75760            7      State_1  ...           NaN          17
75761            7      State_1  ...         126.0           0
...            ...          ...  ...           ...         ...
85457            7     State_11  ...           NaN          51
85458            7     State_11  ...           NaN          12
85459            7     State_11  ...           NaN          51
85460            7     State_11  ...           NaN          51
85461            7     State_11  ...           NaN          12

[9705 rows x 63 columns]

In [44]:
test_df_model1 = test_df[[ 'year_built','location_id', 'facility_type','floor_area','energy_star_rating','cooling_degree_days','heating_degree_days']]
test_df_model1

       year_built  location_id  ... cooling_degree_days  heating_degree_days
id                              ...
75757      1994.0            1  ...                 342                 2112
75758      1961.0           20  ...                 342                 2112
75759      1950.0           25  ...                 342                 2112
75760      1971.0           17  ...                 342                 2112
75761      1942.0            0  ...                 342                 2112
...           ...          ...  ...                 ...                  ...
85457      2013.0           51  ...                 345                 4478
85458      1910.0           12  ...                 345                 4478
85459      2014.0           51  ...                 345                 4478
85460      1992.0           51  ...                 345                 4478
85461      1994.0           12  ...                 345                 4478

[9705 rows x 7 columns]

In [45]:
one_hot_enc_testdata = pd.get_dummies(test_df_model1, columns = ['facility_type'])
one_hot_enc_testdata.shape

(9705, 66)

**FINAL PREDICTION**

In [46]:
# X = train_df.drop('site_eui', axis=1)
# y = train_df['site_eui']

# print(X.shape, y.shape)

In [47]:
xg_final = xgb.XGBRegressor(objective = 'reg:squarederror', n_estimators=800, max_depth=6, seed=42)
xg_final.fit(X, y)

XGBRegressor(max_depth=6, n_estimators=800, objective='reg:squarederror',
             seed=42)

In [48]:
sub=pd.DataFrame()
sub['id']=[75757 + i for i in range(one_hot_enc_testdata.shape[0])]
sub["site_eui"]=xg_final.predict(one_hot_enc_testdata)

In [50]:
sub

         id    site_eui
0     75757  255.557739
1     75758  208.001953
2     75759  183.479919
3     75760  259.744415
4     75761  246.931870
...     ...         ...
9700  85457   34.152039
9701  85458   59.761379
9702  85459   55.288921
9703  85460   83.504219
9704  85461   46.020164

[9705 rows x 2 columns]

In [59]:
sub.to_csv("submission.csv", index=False)

In [61]:
from google.colab import files
files.download("submission.csv")